<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Let's Get Those Employees Entered!</h5>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Employee", "Home", FormMethod.Post))
            {
                <div class="row no-gutters">
                    <div class="form-group col-md-12">
                        <input name="FirstName" type="text" class="form-control" placeholder="Employee First Name" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="LastName" type="text" class="form-control" placeholder="Employee Last Name" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="EmailAddress" type="email" class="form-control" placeholder="Employee Email Address" />
                    </div>
                    <div class="form-group col-md-12">
                        <h5>Please us format yyyy/mm/dd:</h5>
                        <input name="DateOfBirth" type="datetime" class="form-control" placeholder="Employee Date Of Birth" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="Title" type="text" class="form-control" placeholder="Employee Title" />
                    </div>
                    <div class="form-group col-md-12">
                        <input name="Salary" type="text" class="form-control" placeholder="Employee Salary" />
                    </div>
                    <div class="form-group col-md-12">
                        <h5>Does the employee work remotely?</h5>
                        <h5>Please type yes or no: </h5>
                        <input name="WorksRemotely" type="text" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">Submit</button>
                </div>
            }
        </div>
    </div>
</div>